<div class="article-form-container">
    <center><h1>Create a New Article</h1>
    <p>To be visible to users, articles created here must then be published in the Admin console.</p></center>
    <%= render 'form', article: @article %>
</div>