<h1><%= @article.title %></h1>
<div class="byline">By <%= @article.byline %> - <span class="byline-date"><%= @article.fake_created_at %></span></div>
<div class="content">
  <%= raw(process_article_content(@article.content)) %>
</div>
