<%= content_for :title, "New user" %>

<div class="user-form-container">
  <center>
    <h1>Subscribe and get our juicy scoops faster</h1>
    <h2>You love our juicy scoops.</h2>
  </center>

  <%= render 'form', user: @user %>
</div>