/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@font-face {
  font-family: 'HitMePunk';
  src: url('hit-me-punk.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CrashTestDummy';
  src: url('crash-test-dummy.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Typewriter';
  src: url('JMH-Typewriter-Black.ttf'),
       url('JMH-Typewriter-Black.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Typewriter';
  src: url('JMH-Typewriter-Bold.ttf'),
       url('JMH-Typewriter-Bold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Typewriter';
  src: url('JMH-Typewriter.ttf'),
       url('JMH-Typewriter.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Typewriter';
  src: url('JMH-Typewriter-Thin.ttf'),
       url('JMH-Typewriter-Thin.otf');
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: black;
}

main {
    background-color: #e4daca;
    max-width: 720px;
    margin: 0 auto;
    padding: 2em;
}

a.header {
    text-align: center;
    color: black;
    text-decoration: none;
}

a.article__back-link {
    font-family: 'HitMePunk', serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    display: block;
}

div.masthead {
  font-family: 'HitMePunk', serif;
  font-size: 8em;
}

.subtitle {
    font-family: 'CrashTestDummy', serif;
    font-size: 3em;
}

.article__title {
    text-align: center;
    font-family: 'Typewriter', serif;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 0px;
}

.article__byline {
    text-align: center;
    font-family: 'Typewriter', serif;
    font-weight: 500;
    font-size: 1em;
}

.article__byline-date {
    font-family: 'Typewriter', serif;
    font-weight: 400;
    font-size: 1em;
}

.article__content {
    font-family: 'Typewriter', serif;
    font-weight: 500;
    /* font-family: serif; */
    /* line-height: 1em; */
    margin-top: 20px;
    margin-bottom: 40px;
}

.article__content img {
    display: block;
    margin: 2em auto;
    max-width: 600px;
    border: solid 2px #0000001a;
    border-radius: 20px;
}


@media (max-width: 768px) {
    body {
        padding: 0 10px;
    }

    div.masthead {
        font-size: 4em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .article__content img {
        max-width: 100%;
    }
}

content.hp a {
    font-family: 'Typewriter', serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
}


.hp__headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #0000001a;
    text-align: center;
}

.hp__headline h1 {
    font-family: 'Typewriter', serif;
    font-weight: 700;
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 0;
    text-decoration: none;
    color: black;
}

.hp__headline p {
    max-width: 500px;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 auto;
    margin-bottom: 10px;
}


.hp__headline__thumbnail {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: top;
    border: solid 2px #0000001a;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hp__subheadline {
    display: grid;
    grid-template-columns: 250px auto;
    gap: 1em;
    padding: 1em 0;
    border-bottom: 1px solid #0000001a;
}

.hp__subheadline__thumbnail {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    object-position: top;
    border: solid 2px #0000001a;
    border-radius: 10px;
    align-self: center;
    margin: auto 0;
}

@media (max-width: 768px) {

    main {
        box-sizing: border-box;
        padding: 1em;
    }

    .hp__headline p {
        font-weight: 600;
        font-size: 1.1em;
    }

    .hp__subheadline {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .hp__subheadline h2 {
        margin-top: 0;
        font-size: 1em;
        font-weight: 600;
    }

    .hp__subheadline p {
        margin: 0;
        font-weight: 400;
        font-weight: 500;
        font-size: .8em;
    }

    .hp__subheadline__thumbnail {
        width: 100px;
    }
}

.album-title {
  font-family: 'Typewriter', serif;
  font-weight: 700;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
}

.ed-note {
    background-color: lightgray;
    font-size: 1em;
    padding: 2em;
    border-radius: 20px;
    margin-bottom: 2em;
    border: solid darkgray 2px;
}

.album-score {
  float: left;
  background-color: #000000;
  padding: 1em 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  border: solid 2px #0000001a;
  border-radius: 10px;
  text-align: center;
  color: #d4c4a4;
}

.album-score-inner {
  display: flex;
  align-items: baseline;
  gap: 0.25em;
  font-family: 'Typewriter', serif;
  justify-content: center;
}

.album-score__value {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}

.album-score__out-of {
  font-size: 1.5em;
  font-weight: 600;
  color: #666;
}

.album-score__descriptor {
  font-size: 1em;
  font-weight: 600;
  margin-top: 0.5em;
  display: block;
}

#main-nav {
  text-align: right;
  margin-bottom: 2em;
  padding-top: 1em;

}