/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@font-face {
  font-family: 'HitMePunk';
  src: url('hit-me-punk.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CrashTestDummy';
  src: url('crash-test-dummy.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Typewriter';
  src: url('JMH-Typewriter-Black.ttf'),
       url('JMH-Typewriter-Black.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Typewriter';
  src: url('JMH-Typewriter-Bold.ttf'),
       url('JMH-Typewriter-Bold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Typewriter';
  src: url('JMH-Typewriter.ttf'),
       url('JMH-Typewriter.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Typewriter';
  src: url('JMH-Typewriter-Thin.ttf'),
       url('JMH-Typewriter-Thin.otf');
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #e4dacaa3;
    max-width: 720px;
    margin: 0 auto;
}



header {
    text-align: center;
}

/* Now you can use the font */
div.masthead {
  font-family: 'HitMePunk', serif;
  font-size: 8em;
}

.subtitle {
    font-family: 'CrashTestDummy', serif;
    font-size: 3em;
}

.article__title {
    text-align: center;
    font-family: 'Typewriter', serif;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 0px;
}

.article__byline {
    text-align: center;
    font-family: 'Typewriter', serif;
    font-weight: 500;
    font-size: 1em;
}

.article__byline-date {
    font-family: 'Typewriter', serif;
    font-weight: 400;
    font-size: 1em;
}

.article__content {
    font-family: 'Typewriter', serif;
    font-weight: 500;
    /* font-family: serif; */
    /* line-height: 1em; */
    margin-top: 20px;
    margin-bottom: 40px;
}

.article__content img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    border: solid 2px #0000001a;
    border-radius: 20px;
}


@media (max-width: 768px) {
    body {
        padding: 0 10px;
    }

    div.masthead {
        font-size: 4em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .article__content img {
        max-width: 100%;
    }
}